<section class="bg-zinc-900 p-20 rounded-xl my-5">
	<h2 class="text-5xl font-bold my-5">About Us</h2>
	<p class="text-zinc-300">
		At SecurePass Solutions, we are dedicated to providing state-of-the-art
		password management services to individuals and businesses alike. Our
		mission is to simplify the way you manage your digital credentials,
		ensuring both convenience and top-notch security. With a team of
		security experts and innovative technology, we strive to protect your
		online presence from threats and make password management a hassle-free
		experience.
	</p>
</section>
