<header
	class="bg-zinc-900 flex flex-col md:flex-row p-16 gap-3 text-center md:text-left rounded-xl"
>
	<div>
		<h1 class="text-5xl font-bold pb-2">
			Secure Your Digital Life with Ease
		</h1>
		<p class="my-4 text-2xl">
			Unlock a new level of password management, ensuring your safety and
			convenience online.
		</p>
		<button class="bg-indigo-500 px-3 py-2 hover:bg-indigo-600"
			>Get Started Now
		</button>
	</div>
	<img src="images/fingerprint.svg" alt="" class="w-80" />
</header>
